@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  
*{
    margin:0%;
    padding: 0%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    width: 100%;
    height: 65vh;
    background-color: rgb(157, 191, 215);
    position: relative;
    background-image: url('women1.avif');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right bottom;
    font-weight: 800;
    padding-top: 350px;
}
.active{
    font-weight: 800;
    text-decoration: underline;
    color: rgb(10, 39, 83);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    position: absolute ;
    top: 0%;
    left: 0;
    width: 100%;
    height: 58px;
    box-sizing: border-box;
    box-shadow: 2px 2px 12px rgb(75, 116, 120);
    z-index: 1;
    background-color: rgb(232, 246, 251);
    font-weight: 500;
    z-index: 1;
}
.menu{
    display: flex;

}
.menu li a{
    padding: 11px 15px;
    color: rgb(0, 49, 53);
    font-size: 14px;
}
.siteName{
    font-size: 20px;
    font-weight: 900;
    color: rgb(0, 49, 53);

}
.logo{
   

    font-weight: 900;
    color: rgb(4, 56, 39);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu li a:hover{
    background-color:  rgb(198, 223, 239);
    font-weight: 700;
    transition: all ease 1s;
    border-radius: 19px;
    border-color:  rgb(0, 49, 53);
    font-weight: 900;
}
